@using HtmlHelpers.BeginCollectionItemCore
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProductSubCategoryDTO

<tr>
    @using (Html.BeginCollectionItem("SubCategories"))
    {
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="SubCategoryId" />
        <input type="hidden" asp-for="ProductId" />
        <td class="rowNumber text-center" colspan="1">
            1
        </td>
        <td class="text-center" colspan="11"><input type="text" class="form-control text-center border-0 p-0 count" style="background-color: transparent;" value="@Model?.SubCategory?.Name" readonly /></td>
        

    }
</tr>






