@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SetPasswordDTO
@{
    ViewData["Title"] = "تعيين الباسورد";
}

<link rel="stylesheet" href="~/css/User/SignUp.css" />

<section class="promo-section bg-primary py-5 px-5">
    <div class="container-fluid text-end ">
        <h2 class="promo-title cairo-extra-bold mb-3 mt-4">تعيين الباسورد</h2>
    </div>
</section>


<div class="container mt-5 pt-5 form-section">
    <form id="myForm" method="post" action="SetPassword">
        <span asp-validation-for="userId" class="text-danger arabic-direction"></span>

        <input type="hidden" asp-for="userId" />

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="mb-2 text-primary fw-bold" asp-for="Password"></label>
                <input asp-for="Password" class="form-control mt-2  py-3" type="text" placeholder="ادخل الباسورد">
                <span asp-validation-for="Password" class="text-danger arabic-direction"></span>
            </div>
            <div class="col-md-6">
                <label class="mb-2 text-primary fw-bold" asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control mt-2  py-3" type="text" placeholder="اعد ادخال الباسورد">
                <span asp-validation-for="ConfirmPassword" class="text-danger arabic-direction"></span>
            </div>
        </div>

        <div class="row">
            <div class="col text-start">
                <button type="submit" class="btn btn-primary savebtn">تسجيل</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}