<tr>
    @* <td colspan="12" class="text-center">لا يوجد بيانات</td> *@
    <td colspan="12" class="text-center">
        <img src="~/img/404-error.png" style="width: 100%; object-fit: scale-down; height:150px" />
        <h5>لم يتم العثور على اي بيانات</h5>
        <img src="~/img/no-results.png" style="width: 100%; object-fit: scale-down; height:300px" />
    </td>
</tr>