@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FAQDTO

<tr>
    <td class="rowNumber text-center" colspan="1">1</td>
    <td class="text-center" colspan="8">@Model?.Question</td>
    <td class="text-center" colspan="2">@Model?.RegDate?.ToShortDateString() <br /> @Model?.TimeAgo</td>
    <td class="text-center" colspan="1">
        <a asp-action="Upsert" asp-route-id="@Model?.Id" class="d-block btn btn-primary btn-sm mb-1">تعديل</a>
        @* <a asp-action="Delete" asp-route-id="@Model?.Id" class="d-block btn btn-danger btn-sm">حذف</a> *@
        <a href="javascript:void(0);" class="d-block btn btn-danger btn-sm deleteBtn" data-id="@Model?.Id">حذف</a>
    </td>
</tr>