@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FAQDTO
@{
    Layout = "_AdminLayout";
}
@if (Model?.Id > 0)
{
    ViewData["Title"] = "تعديل السؤال";
    <h2 class="text-end mb-3">تعديل السؤال</h2>

}
else
{
    ViewData["Title"] = "اضافة سؤال";
    <h2 class="text-end mb-3">إضافة سؤال</h2>
}
<form asp-action="Upsert" method="post" enctype="multipart/form-data">


    <div asp-validation-summary="ModelOnly" class="text-danger arabic-direction"></div>
    <span asp-validation-for="Question" class="text-danger d-block arabic-direction"></span>
    <span asp-validation-for="Answer" class="text-danger d-block arabic-direction"></span>

    <input type="hidden" asp-for="RegDate" />
    <!-- Second row: Labels and inputs -->
    <div class="row mb-3">
        <!-- اسم التصنيف -->
        <div class="col-12">
            <label asp-for="Question" class="form-label w-100 text-end"></label>
            <input type="text" asp-for="Question" class="form-control" placeholder="ادخل السؤال">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <label asp-for="Answer" class="form-label w-100 text-end"></label>
            <textarea asp-for="Answer" class="form-control" placeholder="ادخل الاجابة"></textarea>
        </div>
    </div>
    
    <!-- Last row: Save button -->
    <div class="row">
        <div class="col text-start">
            <button type="submit" class="btn btn-primary savebtn">حفظ</button>
        </div>
    </div>
</form>




@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
