@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LinkDTO
@{
    Layout = "_AdminLayout";
}
@if (Model?.Id > 0)
{
    ViewData["Title"] = "تعديل الرابط";
    <h2 class="text-end mb-3">تعديل الرابط</h2>

}
else
{
    ViewData["Title"] = "اضافة رابط";
    <h2 class="text-end mb-3">إضافة رابط جديد</h2>
}
<form asp-action="Upsert" method="post" enctype="multipart/form-data">


    <div asp-validation-summary="ModelOnly" class="text-danger arabic-direction"></div>
    <span asp-validation-for="Url" class="text-danger d-block arabic-direction"></span>
    <span asp-validation-for="LinkTypeId" class="text-danger d-block arabic-direction"></span>

    <input type="hidden" asp-for="RegDate" />
    <!-- Second row: Labels and inputs -->
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Url" class="form-label w-100 arabic-direction"></label>
            <input type="text" asp-for="Url" class="form-control" placeholder="ادخل اسم التصنيف">
        </div>
        <div class="col-md-6">
            <label asp-for="LinkTypeId" class="form-label w-100 arabic-direction"></label>
            <select asp-for="LinkTypeId" asp-items="ViewBag.LinkTypes" class="form-select select2">
                @* <option selected disabled>-- اختر --</option> *@
            </select>
        </div>
    </div>

    <!-- Last row: Save button -->
    <div class="row">
        <div class="col text-start">
            <button type="submit" class="btn btn-primary savebtn">حفظ</button>
        </div>
    </div>
</form>




@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
