<div class="modal fade" id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
        <div class="modal-content ActionsModal">
            <div class="modal-body ActionsModal" style="padding: 5px !important;">
                <li class="list-group-item border-0 border-bottom d-flex align-items-center gap-2"> بحث :<input class="modalInput w-75" id="cancel-reasonse-search-input"  /> </li>
                <ul class="list-group rounded-0" id="cancel-reasonse-list-Container">

                    <li class="list-group-item border-0 border-bottom"  >مسافر ومش عايز ياجل الاوردر
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات: 
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom" >غالي
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom">اشتري منتج تاني
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom">قفل في وشي بيتهرب
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom">كان فاكره اوريجنال
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom">مقاس غير متوفر مع ذكر المقاس واللون
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom"  >مستعجل
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom" >جابه ارخص مع ذكر السعر الس جابه بيه
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom">بعد عدد محاولات غير موجود بالخدمه
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom">بعد عدد محاولات مبيجمعش
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom">بعد عدد محاولات لا يرد
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom">اتاخر عليه
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom"  >سافر
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom" >عايزه مستعجل ومش متاح
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom">مطلبش حاجه
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom">مش محتاجه
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom">مكرر
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom">تاخير بسبب عدم توفر المنتج
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom"  >الغاء بعد التاجيل
                        <div class="d-flex align-items-center gap-2 notsbox">
                            ملاحظات:
                            <input class="rounded-1 w-75" />
                        </div>
                    </li>
                    <li class="list-group-item border-0 border-bottom d-flex align-items-center gap-2" >اخري
                        <input class="rounded-1 w-75" />
                    </li>
                </ul>
                <div class="d-flex justify-content-center align-items-start p-2">
                    <a class="btn btn-primary order-btn" ActionType="@Convert.ToInt32(ActionType.Cancel)" modal-data-container-id="cancel-reasonse-list-Container" modal-id="CancelModal">تأكيد</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
       $(document).ready(() => {
        let filterMenuList = [];

        
        $('#cancel-reasonse-list-Container li').on('click', function () {
        
            $('#cancel-reasonse-list-Container li').removeClass('active');
            $(this).addClass('active');
            console.log($(this).hasClass('active')); 
        });

        function filterMenu(event) {
            let searchValue = event.target.value.trim().toLowerCase(); 

            if (filterMenuList.length === 0) {
            
                $("#cancel-reasonse-list-Container li").each((_, element) => {
                    filterMenuList.push(element);
                });
            }

            
            $("#cancel-reasonse-list-Container").empty();

            if (searchValue === "") {
            
                filterMenuList.forEach(element => {
                    $("#cancel-reasonse-list-Container").append(element);
                });
                rebindClickEvent(); 
                return;
            }

            
            filterMenuList.forEach(element => {
                if (element.innerHTML.toLowerCase().includes(searchValue)) {
                    $("#cancel-reasonse-list-Container").append(element);
                }
            });
            rebindClickEvent(); 
        }

       
        function rebindClickEvent() {
            $("#cancel-reasonse-list-Container li").on("click", (event) => {
                if ($(event.currentTarget).hasClass("active")) return;
                $("#cancel-reasonse-list-Container li").removeClass("active");
                $("#cancel-reasonse-list-Container li input").val('');
                event.currentTarget.classList.add("active");
            });
        }
           
        $("#cancel-reasonse-search-input").on("input", filterMenu);
    });

</script>