@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Marhey:wght@300..700&family=Oi&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Cairo", serif !important;
    font-weight: 400 !important;
    font-optical-sizing: auto !important;
}

.cairo-main {
    font-family: "Cairo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.cairo-light {
    font-weight: 200;
}

.cairo-bold {
    font-weight: 600;
}

.cairo-extra-bold {
    font-weight: 800;
}
.bg-purple {
    background: rgba(104, 14, 231, 0.25);
}
    .bg-purple:focus {
        background: rgba(104, 14, 231, 0.25); /* Keep the same background when focused */
        outline: none; /* Optional: remove default focus outline */
    }

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    /*background: rgba(104, 14, 231, 0.25) !important;*/
    background: #fff !important;
    border: 1px solid #6700ea;
    border-radius: 8px;
}
.form-section {
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 900px;
    margin: -50px auto 0;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the eye icon */
.form-group {
    position: relative;
}

.eye-icon {
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 60%;
    transform: translateY(-50%);
    color: #7734c1;
    font-size: 18px;
}


@media (max-width: 500px) {

    .eye-icon {
        top: 75%;
    }
}
